.contacts {
  padding: 38px 0 39px 0;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding: 68px 0 57px 0;
  }
}

.contacts__wrapper {
  padding: 28px 30px 62px 30px;
  display: grid;
  grid-template-columns: 76px auto;
  row-gap: 30px;
  column-gap: 2px;
}

.contacts__title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  grid-column: 1/-1;
}

.contacts__email,
.contacts__addres {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: @gray;
}

.contacts__button-wrapper {
  padding: 0 30px;
}

.contacts__write-us {
  width: 100%;
}
