.contacts {
  padding: 38px 29px 39px 30px;
}

.contacts__wrapper {
  padding-top: 28px;
  padding-bottom: 62px;
  display: grid;
  grid-template-columns: 76px 183px;
  row-gap: 30px;
}

.contacts__title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.contacts__email,
.contacts__addres {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  color: @gray;
}
