.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 182px;
  padding-bottom: 23px;
  padding-top: 19px;
}

@media (min-width: @tablet-width) {
  .copyright {
    min-width: 180px;
    margin: 0;
    padding: 0;
  }
}

.copyright__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  display: flex;
  color: #63d1bb;
}

.copyright__link:hover .copyright__logo-image {
  color: #46c1ae;
}

.copyright__link:active .copyright__logo-image {
  color: rgba(70, 193, 174, 0.3);
}
