.featured-product {
  padding: 31px 30px 30px 36px;
}

.featured-product__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
}

.featured-product__text {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: left;
  color: @green-light;
}

.featured-product__description {
  margin: 0;
  margin-bottom: 28px;
  color: @gray;
  font-size: 15px;
  line-height: 24px;
}

.featured-product__list {
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  color: @gray;
}

.featured-product__item {
  width: 97px;
}

.featured-product__item-description {
  margin: 0;
  margin-top: -20px;
  margin-bottom: 41px;
  padding-left: 97px;
}

.featured-product__image {
  margin-bottom: 26px;
}

.featured-product__price {
  display: block;
  margin: 0;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: @gray;
}

