.form__container {
  width: calc (100% - 60px);
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .form__container {
    width: calc (100% - 100px);
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .form__container {
    width: 1050px;
    margin: 0 auto;
  }
}

.form__intro {
  font-size: 13px;
  line-height: 24px;
  color: @gray;
}

@media (min-width: @desktop-width) {
  .form__intro {
    font-size: 17px;
    line-height: 30px;
    width: 702px;
    margin: 0 auto;
  }
}
