.hero {
  background-image: url("../../img/hero-mobile@2x.jpg");
  background-color: @footer-color;
  background-repeat: no-repeat;
  background-position-x: center;
}

.hero__title {
  padding: 73px 30px 120px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.hero__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
