.hero {
  background-image: url("../../img/hero-mobile@2x.jpg");
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 489px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: contain;
}

@media (min-width: @tablet-width) {
  .hero {
    min-height: 701px;
  }
}

.hero__title {
  margin: 0;
  padding-top: 73px;
  width: 260px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .hero__title {
    display: block;
    padding-top: 110px;
    padding-bottom: 372px;
    width: 100%;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .hero__title {
    padding-top: 114px;
    padding-bottom: 355px;
    margin: 0 auto;
    width: 700px;
    font-size: 53px;
    line-height: 57px;
  }
}

.hero__list {
  padding: 0;
  margin: 0 auto;
  width: 320px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .hero__list {
    width: 668px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .hero__list {
    width: 1050px;
  }
}
