.main-container__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: @footer-color;
  padding-top: 74px;
  padding-bottom: 74px;
  margin: 0;
}

@media (min-width: @desktop-width) {
  .main-container__title {
    font-size: 53px;
    line-height: 57px;
  }
}
