.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 46px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
}

.main-nav__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @black;
}

.main-nav__item {
  padding-top: 29px;
  padding-bottom: 27px;
}

.main-nav__off {
  display: none;
}
