.main-header {
  min-height: 81px;
}

@media (min-width: @tablet-width) {
  .main-header {
    background-color: @footer-color;

    &--index {
      background-color: #f9f9f9;
    }
  }
}

.main-header__logo {
  display: block;
  margin: 0 auto;
  width: 86px;
  height: 35px;
  padding: 22px 0;
}

@media (min-width: @tablet-width) {
  .main-header__logo {
    padding-bottom: 20px;
    margin: 0;
    order: 2;
  }
}

@media (min-width: @tablet-width) {
  .main-header__nav-wrapper {
    width: 668px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .main-header__nav-wrapper {
    width: 1050px;
  }
}

.main-header__wrapper {
  border-top: solid 1px #ececec;
  border-bottom: solid 1px #ececec;
  position: relative;
  background-color: @white;
  min-height: 88px;
}

@media (min-width: @tablet-width) {
  .main-header__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    border: none;
    width: auto;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-header__wrapper {
    order: 2;
    width: 149px;
    flex-basis: auto;
    justify-content: center;
  }
}

.main-header__logo-image {
  width: 86px;
  height: 35px;
}
