.order-form__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: @green-light;
  text-transform: uppercase;
}

.order-form__control {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 43px;
}

.order-form__label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.order-form__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: fadeout(@black, 30%);
}

.order-form__explanation {
  font-size: 14px;
  line-height: 16px;
  color: @gray;
  margin: 0;
  margin-bottom: 30px;
}

.order-form__group {
  border: none;
  margin: 0;
  padding: 0;
}

.order-form__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.order-form__input {
  border: none;
  width: 100%;
}

.order-form__textarea {
  border: solid @gray 2px;
  resize: none;
  margin: 0;
  padding: 17px;
  margin-bottom: 17px;
  box-sizing: border-box;
  width: 100%;
}

.order-form__item {
  display: flex;
  flex-direction: column;
}

.order-form__button {
  font-size: 17px;
  line-height: 16px;
  padding: 16px 34px;
  width: 100%;
}

.order-form__textarea::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 16px;
}
