.product-cards {
  display: flex;
  flex-direction: column;
}

@media (min-width: @desktop-width) {
  .product-cards {
    flex-direction: row;
    justify-content: space-between;
  }
}

.product-cards__link:hover .product-cards__title {
  color: rgba(0, 0, 0, 0.6);
}

.product-cards__link:active .product-cards__title {
  color: rgba(0, 0, 0, 0.3);
}

@media (min-width: @desktop-width) {
  .product-cards__link-image {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}

@media (min-width: @desktop-width) {
  .product-cards__image {
    width: 100%;
  }
}

.product-cards__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .product-cards__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .product-cards__item {
    width: 316px;
  }
}

.product-cards__item:hover .product-cards__description {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.product-cards__item:active .product-cards__description {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

@media (min-width: @desktop-width) {
  .product-cards__item {
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;
  }
}

.product-cards__description {
  border: 1px solid #ececec;
}

@media (min-width: @tablet-width) {
  .product-cards__description {
    display: grid;
    grid-template-rows: min-content auto min-content;
  }
}


.product-cards__title {
  margin: 0;
  padding: 28px 28px 6px 28px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @black;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .product-cards__title {
    margin: 0;
    padding: 27px 34px 7px 34px;
    font-size: 20px;
  }
}

.product-cards__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
  margin-bottom: 27px;
  position: relative;
}

.product-cards__wrapper::before {
  content: "";
  display: block;
  width: 204px;
  height: 1px;
  background-color: #ececec;
  position: absolute;
  top: -23px;
  left: 28px;
}

@media (min-width: @tablet-width) {
  .product-cards__wrapper::before {
    width: 268px;
    height: 1px;
    top: 0;
    left: 33px;
  }
}

@media (min-width: @desktop-width) {
  .product-cards__wrapper::before {
    width: 256px;
    height: 1px;
    top: 0;
    left: 28px;
  }
}

@media (min-width: @tablet-width) {
  .product-cards__wrapper {
    padding: 24px 32px 26px 33px;
    margin: 0;
    align-self: end;
  }
}

.product-cards__details {
  font-size: 13px;
  line-height: 30px;
  color: @gray;
  text-align: left;
  padding: 0 30px;
  margin-bottom: 41px;
  display: block;
}

@media (min-width: @tablet-width) {
  .product-cards__details {
    margin: 0;
    padding: 0 33px 0 34px;
    font-size: 15px;
    min-height: auto;
  }
}

@media (min-width: @desktop-width) {
  .product-cards__details {
    margin: 0;
    padding: 0 33px 13px 34px;
    font-size: 15px;
    min-height: auto;
  }
}

.product-cards__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: @black;
}

.product-cards__image {
  display: block;
}

@media (min-width: @tablet-width) {
  .product-cards__price {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .product-cards__image {
    margin: 0;
    width: 100%;
  }
}

.product-cards__button {
  color: rgba(0, 0, 0, 0.2);
}

.product-cards__button:hover {
  color: #63d1bb;
}

.product-cards__button:active {
  color: rgba(99, 209, 187, 0.3);
}
