.reviews {
  padding: 58px 30px 45px 30px;
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
  color: @gray;
}

.reviews__author-info {
  margin-bottom: 30px;
}

.reviews__author-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 27px;
  text-align: left;
}

.reviews__author-instagram {
  font-size: 17px;
  line-height: 30px;
  text-align: left;
  color: @gray;
}

.reviews__button-back {
  margin-bottom: 38px;
}

.reviews__write {
  width: 100%;
}
