.reviews__wrapper {
  padding-top: 58px;
  padding-bottom: 45px;
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    background-image: url("../img/review-tablet.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-color: @white;
    background-size: contain;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 79px;
    padding-bottom: 0;
    margin-bottom: 68px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review-tablet@2x.jpg");
      background-size: contain;
    }
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 83px;
    background-position: bottom 0 left 50px;
  }
}

.reviews__list {
  grid-column: 1/-1;
}

@media (min-width: @tablet-width) {
  .reviews__list {
    padding-bottom: 47px;
    order: 3;
    position: relative;
  }
}

@media (min-width: @tablet-width) {
  .reviews__list {
    padding-bottom: 96px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    padding-left: 174px;
  }
}

.reviews__item {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .reviews__item {
    padding-top: 39px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__item {
    padding-left: 174px;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
  color: @gray;
}

@media (min-width: @tablet-width) {
  .reviews__text {
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__text {
    width: 814px;
  }
}

.reviews__author-info {
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .reviews__author-info {
    margin-bottom: 0;
  }
}

.reviews__author-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 27px;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .reviews__author-name {
    width: 100%;
    display: block;
  }
}

.reviews__author-instagram {
  font-size: 17px;
  line-height: 30px;
  text-align: left;
  color: @gray;
}

.reviews__button-back,
.reviews__button-forward {
  background-color: @white;
  border: none;
  padding: 13px 0;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .reviews__button-back {
    margin-right: auto;
  }

  .reviews__button-forward {
    margin-left: auto;
  }
}

.reviews__button-back:hover,
.reviews__button-forward:hover {
  color: rgba(0, 0, 0, 0.6);
}

.reviews__button-back:active,
.reviews__button-forward:active {
  color: rgba(0, 0, 0, 0.3);
}

@media (min-width: @tablet-width) {
  .reviews__button-back,
  .reviews__button-forward {
    background-color: transparent;
    padding: 0;
  }
}

.reviews__write {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .reviews__write {
    width: 209px;
    margin-left: auto;
  }
}

.reviews__button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 38px;
  border: solid 1px @gray-light;
  position: relative;
}

.reviews__button-wrapper::after {
  content: "";
  width: 1px;
  height: 100%;
  display: block;
  background-color: #ececec;
  position: absolute;
  left: 50%;
}

@media (min-width: @tablet-width) {
  .reviews__button-wrapper::after {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .reviews__button-wrapper {
    border: none;
    width: 137px;
    margin: 0;
    position: absolute;
    bottom: 124px;
    right: 19px;
    height: 26px;
  }
}
