.sections-list__item--interior {
  background-color: @green-light;
}

.sections-list__item--toys {
  background-color: @green-dark;
}

.sections-list__link {
  display: block;
  font-size: 19px;
  font-weight: 700;
  padding: 24px 160px 31px 30px;
  color: @white;
}
