.sections-list__link--interior {
  background-color: @green-light;
}

.sections-list__link--toys {
  background-color: @green-dark;
}

.sections-list__interior-icon {
  position: absolute;
  top: 23px;
  right: 36px;
  color: #149080;
}

.sections-list__toys-icon {
  position: absolute;
  top: 21px;
  right: 27px;
  color: #149080;
}

.sections-list__link {
  display: block;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  padding: 24px 160px 31px 30px;
  color: @white;
  width: 130px;
  margin: 0 auto;
  position: relative;
}

.sections-list__link--interior:hover,
.sections-list__link--interior:active {
  background-color: #59d5bc;
}

.sections-list__link--toys:hover,
.sections-list__link--toys:active {
  background-color: #46c1ae;
}

.sections-list__link:hover .sections-list__interior-icon {
  opacity: 0.7;
}

.sections-list__link:hover .sections-list__toys-icon {
  opacity: 0.7;
}

.sections-list__link:active .sections-list__interior-icon {
  opacity: 0.3;
}

.sections-list__link:active .sections-list__toys-icon {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .sections-list__link {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 167px 34px 36px;
    width: 131px;
  }
}

@media (min-width: @desktop-width) {
  .sections-list__link {
    padding: 25px 350px 34px 36px;
    width: 139px;
  }
}
