@media (min-width: @tablet-width) {
  .user-list {
    flex-basis: 50%;
    order: 2;
    align-items: center;
    justify-content: flex-end;
    background-color: @white;
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    order: 3;
    flex-basis: auto;
    align-items: center;
    position: relative;
  }
}

@media (min-width: @tablet-width) {
  .user-list::after {
    content: "";
    position: absolute;
    background-color: @white;
    height: 100%;
    width: calc(50vw - 334px);
    top: 0;
    left: 348px;
  }
}

@media (min-width: @desktop-width) {
  .user-list::after {
    width: calc(50vw - 525px);
  }
}

@media (min-width: @tablet-width) {
  .user-list__item:last-child {
    min-width: 264px;
    text-align: right;
  }
}

@media (min-width: @tablet-width) {
  .user-list__item:first-child {
    min-width: 82px;
    min-height: 88px;
    border-left: solid 1px @gray-light;
    border-right: solid 1px @gray-light;
  }
}
