.video {
  padding-left: 30px;
  padding-right: 30px;
}

.video__wrapper {
  display: flex;
  flex-direction: column;
  padding: 22px 34px 33px 34px;
}

.video__title {
  margin: 0;
  margin-bottom: 27px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 57px;
  padding-right: 13px;
}

.video__description {
  font-size: 13px;
  line-height: 24px;
  color: @gray;
  margin: 0;
  margin-bottom: 41px;
}

.video__button {
  padding: 16px 9px;
  line-height: 16px;
}
